body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "SUSE", sans-serif;
}

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: red;
}

section {
    background: red;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}

div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}